*{
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

/* como escuchar type dark/light para crear variables css? */

body {
  background-color: black;
  color: white;
}

main {
  background-color: rgba(0, 0, 0, 0.217);
}

.post_div{
  border: 1px solid white;
  padding: 5px;
  background-color: rgb(63, 62, 62);
}