header{
    display: flex;
}
.box-1{
    width: 300px;
    height: 40px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 5px;
    margin: 15px;
}
.box-2{
    width: 300px;
    height: 40px;
    background: rgb(58,245,241);
    background: linear-gradient(121deg, rgba(58,245,241,1) 0%, rgba(212,147,245,0.6766288180311186) 64%, rgba(249,204,241,1) 100%);
    border: 2px solid black;
    border-radius: 5px;

}